.footer{
    padding: 50px 0px;
    background-color: #eeeaff;
    width: 100%;
    margin-top: auto;
}
.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    background-color: #eeeaff;
}
.footer-box{
    width: 30%;
}
.footer-box-p{
    line-height: 28px;
    padding-top: 10px;
    color: var(--content-color);
}
.footer-title{
     font-size: 1.3rem;
     margin-bottom: 20px;
     color: var(--heading-color);
}
.footer-links{
    cursor: pointer;
    line-height: 28px;
    /* color: var(--content-color);     */
}
.footer-links:hover{
 color: var(--heading-color);
}
